@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
  --orange-color: #ED7839;
  --gray-color: #4E4E4E;
  --light-color: #FDF1EB;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.menu-mobile {
  color: var(--orange-color);
  display: none;
}

.sidebar{
  background: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  height: 100vh;
  min-height: 100vh;
  min-width: 220px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.sidebar h1 {
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  color: #FFF;
  font-family: Roboto;
  height: 68px;
  text-align: center;
}

.slaca-img {
  background: url(/media/slaca-logo.png);
  height: 258px;
  width: 100%;
}

.menu-item {
  align-items: center;
  border-bottom: 1px solid rgb(226, 226, 226);
  color: var(--gray-color);
  display: flex;
  height: 35px;
  text-decoration: none;
}

.menu-item li {
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  padding: 1em;
}

.menu-item:hover {
  background-color: var(--light-color);
}

.active {
  background-color: var(--light-color);
  border-left: 5px solid var(--orange-color);
}


header {
  align-items: center;
  background-color: var(--light-color);
  color: #725C5C;
  display: flex;
  font-size: smaller;
  height: 68px;
  justify-content: space-around;
  padding-left: 16vw;
  width: -webkit-fill-available;

}

.header-text {
  font-size: 14px;

}

.header-text > * {
  font-weight: 400;
  font-family: Roboto;
}

.login {
  display: flex;
  text-align: right;
}
.login img {
  border-radius: 50%;
}

.btn-language button {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
}

main {
  padding: 0 2em 2em 220px;
}

section {
  margin: 2em;
}
.first-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(6, 100px);
  column-gap: 1em;
}

.project-tittle {
  color: var(--orange-color);
  font: bold 20px Roboto;
  grid-column: 1/3;
  grid-row: 1;
  padding: 1.5em;
}

.project-interactions {

  padding: 1em;
}

.project-interactions a {
  background-color: var(--orange-color);
  border-radius: 3px;
  color: #FFF;
  padding: .3em;
  text-decoration: none;
}

.project-quote a {
  background: none;
  color: var(--orange-color);
  font-family: Roboto;
  font-weight: 600;
  text-decoration: none;
}

.project-info {
  border: 1px solid #ECECEC;
  border-radius: 3px;
  margin: 2.4em 0 0;
  width: 242px;
}

.project-details {
  padding: 15px;
}

.project-details p {
  padding-top: 1em;
}

.heading {
  background-color: var(--light-color);
  border: 1px solid #ECECEC;
  border-radius: 3px;
  padding:.7em;
}

.heading h2 {
  font: 500 20px Roboto;
  color: #4E4E4E;
}

.project-text{
  border: 1px solid #ECECEC;
  border-radius: 3px;
  padding: 15px;
  text-align: justify;
}

.abstract{
  display: none;
}

.see-more {
  background: transparent;
  border: none;
  color: var(--orange-color);
  cursor: pointer;
  font-weight: bold;
}
.share-comment, .sent-topic{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.share-comment h3 {
  color: var(--orange-color);
  padding: 15px;
}

.share-comment p, .sent-topic {
  font-size: 14px;
  text-align: center;
}

.share-comment button, .send-comment {
  background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  border: none;
  border-radius: 3px;
  color: white;
  padding: .7em;
}

.share-comment > * {
  padding: 1em;
}

details {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
}

.comment {
  border-radius: 3px;
  list-style: none;
  margin-top: 1em;
  padding: 15px;
}

.comment-tittle {
  color: var(--orange-color);
}

.comment svg {
  color: var(--orange-color);
}

.comment-answer {
  border: 1px solid #ECECEC;
  padding: 15px;
}

.author {
  display: flex;
  justify-content: space-between;
}

.author div {
  color: var(--orange-color);
  font-weight: 700;
  font-size: 14px;
}

footer {
  display: flex;
  padding: 0 2vw 2vw 18vw;
  width: -webkit-fill-available;
}

.galoa-logo {
  width: 25%;
}

.galoa-logo a {
  color: #ffffff;
  background-color: #71478E;
  border-radius: 5px;
  padding: .4em 3.4em;
  text-decoration: none;
}

.footer-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-topic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}

.create-topic>* {
  margin-bottom: 1em;
}

.create-topic label {
  color: var(--orange-color);
  font-weight: 600;
}

.create-topic input,
.create-topic a {
  border: 1px solid #ECECEC;
  border-radius: 4px;
  padding: 10px;
}

.create-topic p {
  text-align: center;
}

.send-comment {
  background-image: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  color: white;
  text-align: center;
  text-decoration: none;
}

.glassmorphism {
  background: #DDDDDD;
  box-shadow: 0 1px 8px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  filter: blur(7px);
  -webkit-filter: blur(7px);
}

.topic-options {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

#topic-form {
  display: none;
}

.sent-topic {
  display: none;
}

@media (max-width:768px){

  .sidebar {
    display: none;
    padding: 0;
  }

  body > * {
    padding: 1em;
  }

  main {
    width: 100vw;
  }

  header {
    display: none;
  }

  footer {
    display: flex;
    border-top: 1px solid #71478E;
    flex-direction: column-reverse;
    text-align: center;
  }

  .galoa-logo{
    width: 100%;
  }
  .galoa-logo img{
    max-width: 50%;
  }
  .project-video img {
    width: 100%;
  }
  .first-section {
    display: block;
  }
  .menu-mobile {
    display: block;
    height: 68px;
    float: right;
    font-size: 2em;
  }
}
